<div class="wrapper">

<!-- BANNER -->
<section>
	<div id = "background-signin2" class="color-white">
		<!-- HERO TEXT -->
				<div class="container" style="padding-top: 20ex;">
					<div class="row">
						<div class="col-sm-12 text-center">
	            <%= image_tag("Id_square.png", class: "avatar-large") %>
							<h1 class="montserrat m-t-60" style ="font-size: 50px; " >Julius Dewavrin</h1>
						</div>
					</div>
				</div>
		<!-- END HERO TEXT -->
	</div>
</section>
<!-- END BANNER -->


<!-- FACTS -->
<section id="about" class="p-b-40">
<div class="works-grid-wrapper bg-white-dark ">
  <div class="container ">

    <div class="row">

      <div id="vignettes" class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-lg-1 col-lg-offset-1 ">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 1.png")%>
          </div>
        </div>
      </div>

      <div id="vignettes" class="col-xs-2 col-sm-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 2.png")%>
          </div>
        </div>
      </div>

      <div id="vignettes" class="col-xs-2 col-sm-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 3.png")%>
          </div>
        </div>
      </div>

      <div id="vignettes" class="col-xs-2 col-sm-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 4.png")%>
          </div>
        </div>
      </div>

      <div id="vignettes" class="col-xs-2 col-sm-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 5.png")%>
          </div>
        </div>
      </div>

      <div id="vignettes" class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-lg-1 col-lg-offset-0">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 6.png")%>
          </div>
        </div>
      </div>

      <div id="vignettes" class="col-xs-2 col-sm-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 7.png")%>
          </div>
        </div>
      </div>

      <div id="vignettes" class="col-xs-2 col-sm-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 8.png")%>
          </div>
        </div>
      </div>

      <div id="vignettes" class="col-xs-2 col-sm-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 9.png")%>
          </div>
        </div>
      </div>

      <div id="vignettes" class="col-xs-2 col-sm-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 10.png")%>
          </div>
        </div>
      </div>

      <hr>
    </div><!-- .row -->
  </div>
</div>
</section>
<!-- END FACTS -->

<!-- Call to action -->
<section class="module-xs bg-brand color-white">
	<div class="container">
		<div class="row row-md-height">
			<div class="col-md-12 col-sm-12 col-md-height col-md-middle text-center">
				<h3 class="m-b-0 m-b-sm-30 montserrat text-uppercase">Why Product Manager at withings ? </h3>
			</div>
		</div><!-- .row -->
	</div>
</section>
<!-- END Call to action -->


<!-- HERO -->
<div class="flexslider color-white" style="height: 70ex;">
			<ul class="slides">

				<!-- SLIDE 1: Watch -->
				<li id= "Slider-1" class="bg-black-alfa-20">
					<!-- HERO TEXT -->
					<div class="hero-caption" style="top: 0px; display: table;">
						<div class="hero-text">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<h2 class="montserrat text-uppercase text-xl">To be part of awesome <br>Product development</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- END SLIDE 1 -->

				<!-- SLIDE 2 People  -->
				<li id= "Slider-2" class="bg-black-alfa-40">
					<!-- HERO TEXT -->
					<div class="hero-caption" style="top: 0px; display: table;">
						<div class="hero-text">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<h1 class="montserrat text-uppercase text-xl">To inspire health to <br>as much people as possible. </h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- END SLIDE 2 -->

				<!-- SLIDE 3 FNAC -->
				<li id= "Slider-3" class="bg-black-alfa-40">
					<!-- HERO TEXT -->
					<div class="hero-caption" style="top: 0px; display: table;">
						<div class="hero-text">
							<div class="container">
								<div class="row">
									<div class="col-sm-7 text-right">
										<h1 class="montserrat text-uppercase text-xl">To get to see a product I worked on<br>sold in a major distributor</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END HERO TEXT -->
				</li>
				<!-- END SLIDE 3 -->

				<!-- SLIDE 4 VEGAS -->
				<li id= "Slider-4" class="bg-black-alfa-40">
					<!-- HERO TEXT -->
					<div class="hero-caption" style="top: 0px; display: table;">
						<div class="hero-text">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<h1 class="montserrat text-uppercase text-xl" style="padding-top: 6ex" >To fly to Vegas and introduce<br>new innovation to CES </h1>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END HERO TEXT -->
				</li>
				<!-- END SLIDE 4 -->

			</ul>
	</div>




<!-- SKILLS SECTION -->
<section id="services" class="module">
			<div class="container">

        <div class="row">
    			<div class="col-sm-6 col-sm-offset-3">
    				<div class="text-center">
    					<h2 class="montserrat text-uppercase p-b-40">Some skills for the job</h2>
    				</div>
    			</div>
        </div>

				<div class="row multi-columns-row">

					<!-- ICONBOX -->
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="box-icon-left">
							<div class="icon-box-icon">
								<i class="fa fa-cube" aria-hidden="true"></i>
							</div>
							<h4>Product development</h4>
							<p> Design, prototyping &amp; iteration, testing, production, distribution for wireless hardware. </p>
						</div>
					</div>
					<!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-code-fork" aria-hidden="true"></i>
              </div>
              <h4>Team project management</h4>
              <p> Collaborating with all services to make better products</p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
              </div>
              <h4> Sales and Marketing</h4>
              <p> Student background and 2 years experience.   </p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-industry" aria-hidden="true"></i>
              </div>
              <h4>Sourcing</h4>
              <p> Negociation and building long term relationship with suppliers.</p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>
              <h4>Design and Mockups</h4>
              <p> Mockup design for web and app. </p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-tablet" aria-hidden="true"></i>
              </div>
              <h4>Technophile</h4>
              <p> Passionate about retail and latest consumer electronics announces. </p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-universal-access" aria-hidden="true"></i>
              </div>
              <h4> User centric</h4>
              <p> Ux obsessed and metrics centered decision. </p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
              </div>
              <h4>Sociable and enthousiast</h4>
              <p> Willing to execute and learn in new domains </p>
            </div>
          </div>
          <!-- END ICONBOX -->

				</div>

			</div>
		</section>

<!-- Call to action -->
<section class="module-xs bg-brand color-white">
	<div class="container">
		<div class="row row-md-height">
			<div class="col-md-12 col-sm-12 col-md-height col-md-middle text-center">
				<h3 class="m-b-0 m-b-sm-30 montserrat text-uppercase">MY RESUME </h3>
				<p class="m-b-0"> (click any logo)</p>
			</div>
		</div><!-- .row -->
	</div>
</section>
<!-- END Call to action -->


<!-- SHORT RESUME -->
<!-- VIGNETTES -->
<section class="module divider-bottom p-t-20">
    <div class="container">
      <div class="row nav-text-tabs">
        <div class="col-xs-4 col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
              <a href="#tabs-1-tab-1" data-toggle="tab"><%= image_tag("Wagon_logo.png") %></a>
              <p class="text-center date_resume"> May 2016 - June 2016 </p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
              <a href="#tabs-1-tab-2" data-toggle="tab"><%= image_tag("Cubyn_logo.png") %></a>
              <p class="text-center date_resume"> Sept 2015 - May 2016 </p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
                <a href="#tabs-1-tab-3" data-toggle="tab"><%= image_tag("Yucall_logo.png") %></a>
                <p class="text-center date_resume"> Sept 2013 - Sept 2015 </p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
              <a href="#tabs-1-tab-4" data-toggle="tab"><%= image_tag("Gem_logo.png")%></a>
              <p class="text-center date_resume"> Sept 2012 - Sept 2013 </p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
              <a href="#tabs-1-tab-5" data-toggle="tab"><%= image_tag("Sourcing&creation_logo.png")%></a>
              <p class="text-center date_resume"> Feb 2012 - June 2012 </p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
              <a href="#tabs-1-tab-6" data-toggle="tab"><%= image_tag("Bba_edhec_logo.png")%></a>
              <p class="text-center date_resume"> Sept 2008 - Sept 2012 </p>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- TABS CONTENT  -->
    <div class="row bg-white-dark p-t-30 p-b-30">
      <div class="col-sm-10 col-sm-offset-1">

        <!-- TABS -->
          <div class="tab-content">

            <!-- LE WAGON -->
            <div id="tabs-1-tab-1" class="tab-pane active">
              <div class="container">
                <div class="row">

                  <div class="col-lg-12">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Full-stack Developer @ Le Wagon</h2>
                      <p> Le wagon is a 9 weeks bootcamp to learn coding </p>
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Lille, France </p>
                    </div>
                  </div>

                  <div class="col-lg-12 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p> Versioning and collaboration with <span>Git</span> &amp; <span>GitHub</span> </p>
                      <p> Object Oriented Programming with <span>Ruby</span>, <span>Ruby on Rails</span>, deployment on <span>Heroku</span> </p>
                      <p> Complete Web Project development management using <span>Trello</span>, <span>Asana</span> and <span>Scrum methods</span>.</p>
                      <p> Front-End Web Development (<span>HTML</span>/<span>CSS</span>/<span>Javascript</span> &amp; <span>JQuery</span>) - allowed building this website </p>
                      <p> Mock-up design and web design using <span>Sketch</span>, <span>Photoshop</span> and <span>balsamiq</span></p>
                      <a href="https://www.lewagon.com/" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">Learn more about Le wagon ›</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- CUBYN -->
            <div id="tabs-1-tab-2" class="tab-pane">
              <div class="container">
                <div class="row">

                  <div class="col-lg-12">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Head of Customer Experience @ Cubyn </h2>
                      <p> Cubyn is a Start-up specialized in first mile logistic, making things easier for professionals to send parcels. </p>
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris, France </p>
                    </div>
                  </div>

                  <div class="col-lg-12 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p> Creation and organisation of the company's <span>customer service</span> with high challenges for a logistic start up. </p>
                      <p> Customer <span>onboarding</span> process development </p>
                      <p> <span>Key account management</span>  with major e-commerce companies in Paris.</p>
                      <p> <span>Product owner</span>, using <span>Kanban method</span> to lead Dev roadmap. </p>
                      <a href="https://www.youtube.com/watch?v=IlWQSRvgdGs" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">Discover Cubyn ›</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- YUCALL -->
            <div id="tabs-1-tab-3" class="tab-pane">
              <div class="container">
                <div class="row">

                  <div class="col-lg-12">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Entrepreneur, co-founder @ Yucall </h2>
                      <p> Yucall conceives and sells connected solutions for service industry professionals (hostels &amp; restaurants).</p
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris, France </p>
                    </div>
                  </div>

                  <div class="col-lg-12 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p><span>Hardware</span> Product sourcing and development</p>
                      <p>Prototyping using <span>3D printing</span> with SketchUp, <span>bill of material</span> optimization and <span>testing</span> protocole redaction.  </p>
                      <p><span>Certification</span> conformity and <span>import</span> process management</p>
                      <p><span>Sales &amp; marketing </span>strategy. <span>Partnership</span> development (Accor, Louvre Hotels group)</p>
                      <p>Our solutions are used daily by over 200 hotels in France  </p>
                      <a href="https://www.youtube.com/watch?v=lEfN0PHHcDU" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">Check out our video presentation›</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- GEM -->
            <div id="tabs-1-tab-4" class="tab-pane">
              <div class="container">
                <div class="row">

                  <div class="col-lg-12">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Msc Specialized in Entrepreneurship @ Grenoble Management School </h2>
                      <p> Original program with 6 consultancy missions for local companies and theorical knowledge.  </p>
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Grenoble, France </p>
                    </div>
                  </div>

                  <div class="col-lg-12 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p>Consultant missions in company <span>creation</span>, <span>recovery</span>, <span>development</span> and <span>evaluation.</span> </p>
                      <p>Ranked 1st MSc Entrepreneurship in France. (SMBG Ranking 2015)</p>
                      <a href="http://www.grenoble-em.com/mastere-specialise-entrepreneurs-pedagogie-hec-entrepreneurs#Programme" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">More info about the program</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- BOULANGER -->
            <div id="tabs-1-tab-5" class="tab-pane">
              <div class="container">
                <div class="row">

                  <div class="col-lg-12">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Project manager, intern @ Sourcing &amp; Création</h2>
                      <p> Sourcing &amp; Creation is the purchasing office of home appliances own label products for HTM group (Boulanger, Electro-dépot).  </p>
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Shanghai, China. </p>
                    </div>
                  </div>

                  <div class="col-lg-12 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p>Trained in <span>purchasing</span>, <span>quality</span> and logistic processes for products made in China.</p>
                      <p>Dealing with dozens of <span>supplier</span> for cookware and vacuum cleaners. </p>
                      <p>Assisted entire own brand <span>product development</span> - from sourcing to customer service </p>
                      <p>Development of Team tools to challenge supplier price level, mostly for plastic products.   </p>
                      <a href="http://www.sourcingcreation.com/?lang=fr" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">Website</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- BBA EDHEC -->
            <div id="tabs-1-tab-6" class="tab-pane">
              <div class="container">
                <div class="row">

                  <div class="col-lg-12">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Student @ BBA Edhec </h2>
                      <p> Programme Bachelor de l’EDHEC Business School </p>
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Lille, France. </p>
                    </div>
                  </div>

                  <div class="col-lg-12 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p> Specialization in <span>Corporate Finance</span>, <span>marketing strategy</span> and <span>Entrepreneurship</span> </p>
                      <p> Exchange student in <span>Seoul</span> - South Korea</p>
                      <p> Elected <span>president</span> of the school’s student union</p>
                      <a href="http://www.bba-edhec.fr/" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">Website</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        <!-- END TABS -->
      </div>
    </div><!-- .row -->

</section>
<!-- END TEXT TABS CENTER -->


<!-- Call to action -->
<section class="module-xs bg-brand color-white">
	<div class="container">
		<div class="row row-md-height">
			<div class="col-md-10 col-sm-12 col-md-height col-md-middle text-center">
				<h3 class="m-b-0 montserrat text-uppercase"> Contact information</h3>
			</div>
		</div><!-- .row -->
	</div>
</section>
<!-- END Call to action -->



<section>
	<div class="container p-t-40">
		<div class="row">

			<!-- LEFT PART -->
			<div id= "box-contact1" class="col-xs-12 col-sm-6 col-lg-6">
				<h1 class="text-300 m-t-40">Why not meeting ?</h1>
				<p>I may not fit all requirement for this position but I am motivated, determined and I can learn fast to match your expectations. <br><br>I would be glad to discuss it during an interview at your convenience. <br> At worst, we will have met, at best, who knows!  </p>

				<div class="box-icon-left">
					<div class="icon-box-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
					<h4>jdewavrin@gmail.com</h4>
					<p>You can click following button to write me. </p>

					<%= mail_to "jdewavrin@gmail.com", "Contact", subject: "Julius Withings Application", class:"btn btn-lg btn-circle btn-base center"  %>
				</div>

				<div class="box-icon-left">
					<div class="icon-box-icon"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
					<h4>06 03 05 45 01 </h4>
					<p>Feel free to call me.</p>
				</div>
				<br>
				<p>Thank you for your attention. </p>

			</div>

			<!-- RIGHT PART -->
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<div id= "box-contact2">
					<%= image_tag("phonenumber2.png", id: "contact-phone" ) %>
				</div>
			</div>
		</div>
	</div>

</section>

</div>
<!-- END WRAPPER  -->
