

<!-- BANNER -->
<section id="hero" class="module-hero bg-black-alfa-30 color-white parallax" data-background="assets/images/garden.jpg">
	<!-- HERO TEXT -->
	<div class="hero-caption">
		<div class="hero-text">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
            <%= image_tag("Id_square.png", class: "avatar-large") %>
						<h1 class="montserrat text-uppercase text-super-m m-t-20">Julius Dewavrin</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END HERO TEXT -->
</section>
<!-- END BANNER -->

<!-- FACTS -->
<section id="about" class="p-b-40">
<div class="works-grid-wrapper bg-white-dark ">
  <div class="container ">

    <div class="row multi-columns-row">

      <div class="col-sm-3 col-md-2 col-md-offset-1 col-lg-1 col-lg-offset-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 1.png")%>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 2.png")%>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 3.png")%>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 4.png")%>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 5.png")%>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 6.png")%>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 7.png")%>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 8.png")%>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 9.png")%>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-2 col-lg-1">
        <div class="box-icon text-center">
          <div class="icon-box-icon">
            <%= image_tag("Artboard 10.png")%>
          </div>
        </div>
      </div>

      <hr>
    </div><!-- .row -->
  </div>
</div>
</section>
<!-- END FACTS -->


<div class="wrapper">

  <!-- HERO -->
  <div class="flexslider color-white">
    <ul class="slides">

      <!--  -->
      <li class="bg-black-alfa-40" style="background-image: image-url('vegas_cover.jpg')%>)">
        <!-- HERO TEXT -->
        <div class="hero-caption">
          <div class="hero-text">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h1 class="montserrat text-uppercase text-super-xl m-b-40">Awesome items</h1>
                  <h2 class="montserrat text-uppercase text-xl">Adapted to your balcony</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END HERO TEXT -->
      </li>
      <!--  -->

      <!--  -->
      <li class="bg-black-alfa-40" style="background-image:url(<%= image_path('pulse_cover.jpg')%>)">
        <!-- HERO TEXT -->
        <div class="hero-caption">
          <div class="hero-text">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h2 class="montserrat text-uppercase m-b-40">Flower power</h2>
                  <h1 class="montserrat text-uppercase text-super-xl m-b-40"> -20 % on flowers</h1>
                  <p>* by using the coupon code "flower-power", available until july 20th</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END HERO TEXT -->
      </li>
      <!--  -->


      <li class="bg-black-alfa-40" id="tata" style="background-image:url(<%= image_path('')%>)">
        <!-- HERO TEXT -->
        <div class="hero-caption">
          <div class="hero-text">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h2 class="montserrat text-uppercase m-b-40">Get inspired</h2>
                  <h1 class="montserrat text-uppercase text-xxxxxl m-b-40">New Pots</h1>
                  <p>Discover our new range of custom pot for your balcony</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END HERO TEXT -->
      </li>
      <!--  -->
    </ul>
  </div>
  <!-- END HERO -->

  <!-- WRAPPER -->
<div class="wrapper">








<!-- SKILLS SECTION -->
<section id="services" class="module">
			<div class="container">

        <div class="row">
    			<div class="col-sm-6 col-sm-offset-3">
    				<div class="text-center">
    					<h2 class="montserrat text-uppercase">Some skills that could be helpful</h2>
    				</div>
    			</div>
        </div>

				<div class="row multi-columns-row">

					<!-- ICONBOX -->
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="box-icon-left">
							<div class="icon-box-icon">
								<i class="fa fa-cube" aria-hidden="true"></i>
							</div>
							<h4>Product development</h4>
							<p> Design, prototyping &amp; iteration, testing, production, distribution for wireless hardware. </p>
						</div>
					</div>
					<!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-code-fork" aria-hidden="true"></i>
              </div>
              <h4>Team project management</h4>
              <p> Collaborating with all services to make better products</p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
              </div>
              <h4> Sales and Marketing</h4>
              <p> Student background and 2 years experience.   </p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-industry" aria-hidden="true"></i>
              </div>
              <h4>Sourcing</h4>
              <p> Negociation and building long term relationship with suppliers.</p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>
              <h4>Design and Mockups</h4>
              <p> Mockup design for web and app. </p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-tablet" aria-hidden="true"></i>
              </div>
              <h4>Technophile</h4>
              <p> Passionate about retail and latest consumer electronics announces. </p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-universal-access" aria-hidden="true"></i>
              </div>
              <h4> User centric</h4>
              <p> Ux obsessed and metrics centered decision. </p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
              </div>
              <h4>Sociable and enthousiast</h4>
              <p> Willing to execute and learn in new domains </p>
            </div>
          </div>
          <!-- END ICONBOX -->

				</div>

			</div>
		</section>


<!-- Call to action -->
<section class="module-xs bg-brand color-white">
	<div class="container">
		<div class="row row-md-height">
			<div class="col-md-10 col-sm-12 col-md-height col-md-middle text-center">
				<h3 class="m-b-0 m-b-sm-30 montserrat text-uppercase">Why not meeting ? </h3>
			</div>
			<div class="col-md-2 col-sm-12 col-md-height col-md-middle text-center">
				<a href="#" class="btn btn-lg btn-circle btn-white">Contact</a>
			</div>
		</div><!-- .row -->
	</div>
</section>
<!-- END Call to action -->


<!-- SHORT RESUME -->
<!-- VIGNETTES -->
<section class="module divider-bottom">
  <div class="container">
    <div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="text-center">
					<h2 class="montserrat text-uppercase">Check out my Resume</h2>
					<p class="lead divider-line"> Click any logo</p>
				</div>
			</div>
    </div>

    <div class="container">
      <div class="row nav-text-tabs">
        <div class="col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
              <a href="#tabs-1-tab-1" data-toggle="tab"><%= image_tag("Wagon_logo.png") %></a>
              <p class="text-center date_resume"> May 2016 - June 2016 </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
              <a href="#tabs-1-tab-2" data-toggle="tab"><%= image_tag("Cubyn_logo.png") %></a>
              <p class="text-center date_resume"> Sept 2015 - May 2016 </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
                <a href="#tabs-1-tab-3" data-toggle="tab"><%= image_tag("Yucall_logo.png") %></a>
                <p class="text-center date_resume"> Sept 2013 - Sept 2015 </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
              <a href="#tabs-1-tab-4" data-toggle="tab"><%= image_tag("Gem_logo.png")%></a>
              <p class="text-center date_resume"> Sept 2012 - Sept 2013 </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
              <a href="#tabs-1-tab-5" data-toggle="tab"><%= image_tag("Sourcing&creation_logo.png")%></a>
              <p class="text-center date_resume"> Feb 2012 - June 2012 </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-lg-2">
          <div class="box-icon text-center p-t-0">
            <div class="icon-box-icon">
              <a href="#tabs-1-tab-6" data-toggle="tab"><%= image_tag("Bba_edhec_logo.png")%></a>
              <p class="text-center date_resume"> Sept 2008 - Sept 2012 </p>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- TABS CONTENT  -->
    <div class="row bg-white-dark p-t-30 p-b-30">
      <div class="col-sm-10 col-sm-offset-1">

        <!-- TABS -->
          <div class="tab-content">

            <!-- LE WAGON -->
            <div id="tabs-1-tab-1" class="tab-pane active">
              <div class="container">
                <div class="row">

                  <div class="col-lg-10">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Full-stack Developer @ Le Wagon</h2>
                      <p> Le wagon is a 9 weeks bootcamp to learn coding </p>
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Lille, France </p>
                    </div>
                  </div>

                  <div class="col-lg-10 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p> Versioning and collaboration with <span>Git</span> &amp; <span>GitHub</span> </p>
                      <p> Object Oriented Programming with <span>Ruby</span>, <span>Ruby on Rails</span>, deployment on <span>Heroku</span> </p>
                      <p> Complete Web Project development management using <span>Trello</span>, <span>Asana</span> and <span>Scrum methods</span>.</p>
                      <p> Front-End Web Development (<span>HTML</span>/<span>CSS</span>/<span>Javascript</span> &amp; <span>JQuery</span>) - allowed building this website </p>
                      <p> Mock-up design and web design using <span>Sketch</span>, <span>Photoshop</span> and <span>balsamiq</span></p>
                      <a href="https://www.lewagon.com/" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">Learn more about Le wagon ›</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- CUBYN -->
            <div id="tabs-1-tab-2" class="tab-pane">
              <div class="container">
                <div class="row">

                  <div class="col-lg-10">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Head of Customer Experience @ Cubyn </h2>
                      <p> Cubyn is a Start-up specialized in first mile logistic, making things easier for professionals to send parcels. </p>
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris, France </p>
                    </div>
                  </div>

                  <div class="col-lg-10 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p> Creation and organisation of the company's <span>customer service</span> with high challenges for a logistic start up. </p>
                      <p> Customer <span>onboarding</span> process development </p>
                      <p> <span>Key account management</span>  with major e-commerce companies in Paris.</p>
                      <p> <span>Product owner</span>, using <span>Kanban method</span> to lead Dev roadmap. </p>
                      <a href="https://www.youtube.com/watch?v=IlWQSRvgdGs" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">Discover Cubyn ›</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- YUCALL -->
            <div id="tabs-1-tab-3" class="tab-pane">
              <div class="container">
                <div class="row">

                  <div class="col-lg-10">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Entrepreneur, co-founder @ Yucall </h2>
                      <p> Yucall conceives and sells connected solutions for service industry professionals (hostels &amp; restaurants).</p
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris, France </p>
                    </div>
                  </div>

                  <div class="col-lg-10 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p><span>Hardware</span> Product sourcing and development</p>
                      <p>Prototyping using <span>3D printing</span> with SketchUp, <span>bill of material</span> optimization and <span>testing</span> protocole redaction.  </p>
                      <p><span>Certification</span> conformity and <span>import</span> process management</p>
                      <p><span>Sales &amp; marketing </span>strategy. <span>Partnership</span> development (Accor, Louvre Hotels group)</p>
                      <p>Our solutions are used daily by over 200 hotels in France  </p>
                      <a href="https://www.youtube.com/watch?v=lEfN0PHHcDU" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">Check out our video presentation›</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- GEM -->
            <div id="tabs-1-tab-4" class="tab-pane">
              <div class="container">
                <div class="row">

                  <div class="col-lg-10">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Msc Specialized in Entrepreneurship @ Grenoble Management School </h2>
                      <p> Original program with 6 consultancy missions for local companies and theorical knowledge.  </p>
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Grenoble, France </p>
                    </div>
                  </div>

                  <div class="col-lg-10 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p>Consultant missions in company <span>creation</span>, <span>recovery</span>, <span>development</span> and <span>evaluation.</span> </p>
                      <p>Ranked 1st MSc Entrepreneurship in France. (SMBG Ranking 2015)</p>
                      <a href="http://www.grenoble-em.com/mastere-specialise-entrepreneurs-pedagogie-hec-entrepreneurs#Programme" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">More info about the program</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- BOULANGER -->
            <div id="tabs-1-tab-5" class="tab-pane">
              <div class="container">
                <div class="row">

                  <div class="col-lg-10">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Project manager, intern @ Sourcing &amp; Création</h2>
                      <p> Sourcing &amp; Creation is the purchasing office of home appliances own label products for HTM group (Boulanger, Electro-dépot).  </p>
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Shanghai, China. </p>
                    </div>
                  </div>

                  <div class="col-lg-10 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p>Trained in <span>purchasing</span>, <span>quality</span> and logistic processes for products made in China.</p>
                      <p>Dealing with dozens of <span>supplier</span> for cookware and vacuum cleaners. </p>
                      <p>Assisted entire own brand <span>product development</span> - from sourcing to customer service </p>
                      <p>Development of Team tools to challenge supplier price level, mostly for plastic products.   </p>
                      <a href="http://www.sourcingcreation.com/?lang=fr" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">Website</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- BBA EDHEC -->
            <div id="tabs-1-tab-6" class="tab-pane">
              <div class="container">
                <div class="row">

                  <div class="col-lg-10">
                    <div class="text-center m-b-20" id="custom-tab-header">
                      <h2> Student @ BBA Edhec </h2>
                      <p> Programme Bachelor de l’EDHEC Business School </p>
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Lille, France. </p>
                    </div>
                  </div>

                  <div class="col-lg-10 col-offset-1">
                    <div class="text-center" id="custom-tab-content">
                      <p> Specialization in <span>Corporate Finance</span>, <span>marketing strategy</span> and <span>Entrepreneurship</span> </p>
                      <p> Exchange student in <span>Seoul</span> - South Korea</p>
                      <p> Elected <span>president</span> of the school’s student union</p>
                      <a href="http://www.bba-edhec.fr/" target="_blank" class="btn btn-lg btn-link btn-base p-t-20">Website</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        <!-- END TABS -->
      </div>
    </div><!-- .row -->
  </div>
</section>
<!-- END TEXT TABS CENTER -->



  <!-- ABOUT -->
		<section id="about" class="module pull-image">

			<div class="col-md-6 col-sm-4 p-0">
        <%= link_to(image_tag("notebook-left.png"), root_path) %>
			</div>

			<div class="container">
				<div class="col-md-4 col-md-offset-2 col-sm-7 col-sm-offset-1 vertical-middle pull-image-right">
					<div class="m-t-70">
						<h4>Mega Menus</h4>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna posuere.</p>
					</div>

					<div class="m-t-70">
						<h4>Responsive Design</h4>
						<p>In dui magna, posuere eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna posuere. </p>
					</div>
				</div>
			</div>

		</section>
		<!-- END ABOUT -->

		<!-- ABOUT -->
		<section class="module pull-image">

			<div class="col-md-6 col-md-push-6 col-sm-4 col-sm-push-8 p-0">
				    <%= image_tag("notebook-right.png") %>
			</div>

			<div class="container">
				<div class="col-md-4 col-md-pull-0 col-sm-6 col-sm-pull-4 vertical-middle">
					<div class="m-t-35 m-b-70">
						<h4>Awesome Parallax</h4>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna posuere.</p>
					</div>

					<div class="m-t-70 m-b-35">
						<h4>Google Web Fonts</h4>
						<p>In dui magna, posuere eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna posuere. </p>
					</div>
				</div>
			</div>

		</section>
		<!-- END ABOUT -->


<!-- END EXPERIENCES  -->



<!-- END EDUCATION -->
